<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="THB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="THB.Properties.Settings.SqlConnect" connectionString="Data Source = SELENE-T14\\T14SQLEXP22; Initial Catalog=THB; Pooling=false;Integrated Security=True;"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <THB.Properties.Settings>
            <setting name="Def" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Defs" serializeAs="String">
                <value>Green</value>
            </setting>
        </THB.Properties.Settings>
    </applicationSettings>
</configuration>
